<a href="https://colab.research.google.com/github/prachinikhare/Net_Banking_Project/blob/main/Net_Banking_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **NET** **BANKING** **PROJECT**

In [ ]:
import pandas as pd

In [ ]:
pd.__version__

'1.1.5'

In [ ]:
Account_no = ['AC4510','AC4511','AC4512','AC4513','AC4514','AC4515','AC4516','AC4517','AC4518','AC4519']
Pin        = ['1123','1321','4543','5112','7845','1243','2255','3154','4144','6127']
Name       = ['Arya Pavar','Anita','Karthik','Amita Nikhare','Ankita','Krishna','Purva','Anushka','Samarth','Megha']                                                           
Branch_name= ['Bardi','Sadar','Nagpur','Itwari','Gandhibagh','Bardi','Sadar','Nagpur','Itwari','Gandhibagh']
Branch_no  = ['5','3','4','2','1','5','3','4','2','1']
Phone_no   = ['9923451208','7453885512','6743129766','7855219813','9078562314','7077431567','7654879855','9277645331','8065342722','8856341289']
Email_id   = ['arya45@gmail.com','anu0678@gmail.com','karthik@gmail.com','amitanikhare@gmail.com','ankita@gmail.com','krishna44@gmail.com','purva56@gmail.com','anu123@gmail.com','samarth670@gmail.com','megha89@gmail.com']
Age        = ['21','20','22','19','20','21','19','22','23','19']
Address    = ['Bardi Nagpur','Sadar market area Nagpur','Nagpur','Itwari Nagpur','Gandhibagh near town hall mahal Nagpur','Bardi market area Nagpur','Sadar Nagpur','Nagpur','Itwari Nagpur','Gandhibagh Nagpur']
Balance    = ['250000','10000','450000','50000','780000','60000','580000','890000','670000','20000']

In [ ]:
sample_data = {'Account_no':Account_no,'Pin':Pin,'Name':Name,'Branch_name':Branch_name,'Branch_no':Branch_no
               ,'Phone_no':Phone_no,'Email_id':Email_id,'Age':Age,'Address':Address,'Balance':Balance}

In [ ]:
df= pd.DataFrame(data = sample_data)
df

  Account_no   Pin  ...                                 Address Balance
0     AC4510  1123  ...                            Bardi Nagpur  250000
1     AC4511  1321  ...                Sadar market area Nagpur   10000
2     AC4512  4543  ...                                  Nagpur  450000
3     AC4513  5112  ...                           Itwari Nagpur   50000
4     AC4514  7845  ...  Gandhibagh near town hall mahal Nagpur  780000
5     AC4515  1243  ...                Bardi market area Nagpur   60000
6     AC4516  2255  ...                            Sadar Nagpur  580000
7     AC4517  3154  ...                                  Nagpur  890000
8     AC4518  4144  ...                           Itwari Nagpur  670000
9     AC4519  6127  ...                       Gandhibagh Nagpur   20000

[10 rows x 10 columns]

In [ ]:
sample_data.keys()

dict_keys(['Account_no', 'Pin', 'Name', 'Branch_name', 'Branch_no', 'Phone_no', 'Email_id', 'Age', 'Address', 'Balance'])

In [ ]:
sample_data.values()

dict_values([['AC4510', 'AC4511', 'AC4512', 'AC4513', 'AC4514', 'AC4515', 'AC4516', 'AC4517', 'AC4518', 'AC4519'], ['1123', '1321', '4543', '5112', '7845', '1243', '2255', '3154', '4144', '6127'], ['Arya Pavar', 'Anita', 'Karthik', 'Amita Nikhare', 'Ankita', 'Krishna', 'Purva', 'Anushka', 'Samarth', 'Megha'], ['Bardi', 'Sadar', 'Nagpur', 'Itwari', 'Gandhibagh', 'Bardi', 'Sadar', 'Nagpur', 'Itwari', 'Gandhibagh'], ['5', '3', '4', '2', '1', '5', '3', '4', '2', '1'], ['9923451208', '7453885512', '6743129766', '7855219813', '9078562314', '7077431567', '7654879855', '9277645331', '8065342722', '8856341289'], ['arya45@gmail.com', 'anu0678@gmail.com', 'karthik@gmail.com', 'amitanikhare@gmail.com', 'ankita@gmail.com', 'krishna44@gmail.com', 'purva56@gmail.com', 'anu123@gmail.com', 'samarth670@gmail.com', 'megha89@gmail.com'], ['21', '20', '22', '19', '20', '21', '19', '22', '23', '19'], ['Bardi Nagpur', 'Sadar market area Nagpur', 'Nagpur', 'Itwari Nagpur', 'Gandhibagh near town hall mahal Nagpur', 'Bardi market area Nagpur', 'Sadar Nagpur', 'Nagpur', 'Itwari Nagpur', 'Gandhibagh Nagpur'], ['250000', '10000', '450000', '50000', '780000', '60000', '580000', '890000', '670000', '20000']])

In [ ]:
df["Name"]

0       Arya Pavar
1            Anita
2          Karthik
3    Amita Nikhare
4           Ankita
5          Krishna
6            Purva
7          Anushka
8          Samarth
9            Megha
Name: Name, dtype: object

In [ ]:
#display first 5 record
df.head()

  Account_no   Pin  ...                                 Address Balance
0     AC4510  1123  ...                            Bardi Nagpur  250000
1     AC4511  1321  ...                Sadar market area Nagpur   10000
2     AC4512  4543  ...                                  Nagpur  450000
3     AC4513  5112  ...                           Itwari Nagpur   50000
4     AC4514  7845  ...  Gandhibagh near town hall mahal Nagpur  780000

[5 rows x 10 columns]

In [ ]:
#display last 5 record
df.tail()

  Account_no   Pin     Name  ... Age                   Address Balance
5     AC4515  1243  Krishna  ...  21  Bardi market area Nagpur   60000
6     AC4516  2255    Purva  ...  19              Sadar Nagpur  580000
7     AC4517  3154  Anushka  ...  22                    Nagpur  890000
8     AC4518  4144  Samarth  ...  23             Itwari Nagpur  670000
9     AC4519  6127    Megha  ...  19         Gandhibagh Nagpur   20000

[5 rows x 10 columns]

In [ ]:
# check the datatype of 'df' variable
type(df)

pandas.core.frame.DataFrame

In [ ]:
# check the length of the dataframe
len(df)

10

LOGIN PAGE

In [ ]:
name = []
account = []
pin  = []
name = df.Name.str.lower()
account = df.Account_no.str.lower()
pin  = df.Pin

In [ ]:
type(name)

pandas.core.series.Series

In [ ]:
def na():
    x = 0
    nam = input("Enter your Name:")
    nam = nam.lower()
    f = False
    for i in range(0,len(name)):
        if nam == name.iloc[i]:
            x = i
            f = True
            break
    if f:
        print("\033[1m NAME VALID\n" + "\033[0m")
        return x
    else:
        print("\033[1m INVALID USERNAME\n" + "\033[0m")
        na()
        
x = na()

Enter your Name:Amita Nikhare
 NAME VALID

In [ ]:
p1 = x
#print(p1)

In [ ]:
def acc():
    y = 0
    acco = input("Enter your Account Number:")
    acco = acco.lower()
    f = False
    for i in range(0,len(account)):
        if acco == account.iloc[i]:
            y = i
            f = True
            break
    if f:
        print("\033[1m ACCOUNT NUMBER VALID\n" + "\033[0m")
        return y
    else:
        print("\033[1m INVALID ACCOUNT NUMBER\n" + "\033[0m")
        acc()
        
y = acc()

Enter your Account Number:AC4513
 ACCOUNT NUMBER VALID

In [ ]:
p2 = y 
#print(p2)

In [ ]:
def pn():
    z =  0
    p = int(input("Enter your Pin Number:"))
    f = True
    for i in range(0,len(pin)):
        if p == pin.iloc[i]:
            z = i
            f = False
            break
    if f:
        print("\033[1m Pin NUMBER VALID\n" + "\033[0m")
        return z
    else:
        print("\033[1m INVALID Pin NUMBER\n" + "\033[0m")
        pn()
        
z = pn()

Enter your Pin Number:5112
 Pin NUMBER VALID

In [ ]:
p3 = z
#print(p3)

In [ ]:
def ph():
    phno = int(input("Enter your Phone Number:"))
    m = str(phno)
    m = len(m)
    
    if m < 10 and m > 10:
        print("\033[1m ...PLEASE RE-ENTER THE PHONE NUMBER\n" + "\033[0m")
        ph()
    else:
        print("\033[1m PHONE NUMBER IS VALID\n" + "\033[0m")
        return phno

In [ ]:
if p1 == p2:
    if p2 == p3:
        p1 = p2
print(p1)

3

In [ ]:
import random
def mail():
    print("\033[0;30mx"*127)
    print("\033[1m \033[34m \033[4m \t\t\t\t\t\t\t CACHE BANK" +"\033[1m \033[34m \033[4m") 
    print("\033[0;30mx"*127)
    print("\n\n")
    x = na()
    y = acc()
    z = pn()
    phone = ph()
    if x == y:
        if y != z:
            print("\033[0;31m \t\t\t\t\t CAN PROCEED TO NEXT STEP\n\n" +"\033[0;30m")   
        else:
            print("\033[0;31m \t\t\t ACCOUNT NUMBER AND PIN MISMATCH..PLEASE LOGIN AGAIN" +"\033[0;30m")
            mail()
    else:
        print("\033[0;31m \t\t\t USERNAME AND ACCOUNT NUMBER MISMATCH..PLEASE LOGIN AGAIN" +"\033[0;30m")
        mail()
           
    rand = random.randrange(1000,10000)
    print("\033[0;30m An OTP has been sent to your Phone number as displayed \n ", phone, " : ", rand)
    rando = int(input("Enter the OTP received to check for authentication :"))
    print("\n\n")
    if rand == rando:
        print("\033[0;31m \t\t\t\t\t\t ACCESS GRANTED" +"\033[0;30m")
    else:
        print("\033[0;31m \t\t\t\t INCORRECT OTP..TIME LAPSED..NEED TO LOGIN AGAIN" +"\033[0;30m")
        mail()
        print("\n\n")
    print("\033[0;30mx"*127)
    
mail()

xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
   							 CACHE BANK
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx



Enter your Name:Amita Nikhare
 NAME VALID

Enter your Account Number:AC4513
 ACCOUNT NUMBER VALID

Enter your Pin Number:5112
 Pin NUMBER VALID

Enter your Phone Number:7855219813
 PHONE NUMBER IS VALID

 					 CAN PROCEED TO NEXT STEP


 An OTP has been sent to your Phone number as displayed
  7855219813  :  2795
Enter the OTP received to check for authentication :2795



 						 ACCESS GRANTED
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

FEATURES

In [ ]:
import datetime
now = datetime.datetime.now()
df = pd.DataFrame(data = sample_data)
df

  Account_no   Pin  ...                                 Address Balance
0     AC4510  1123  ...                            Bardi Nagpur  250000
1     AC4511  1321  ...                Sadar market area Nagpur   10000
2     AC4512  4543  ...                                  Nagpur  450000
3     AC4513  5112  ...                           Itwari Nagpur   50000
4     AC4514  7845  ...  Gandhibagh near town hall mahal Nagpur  780000
5     AC4515  1243  ...                Bardi market area Nagpur   60000
6     AC4516  2255  ...                            Sadar Nagpur  580000
7     AC4517  3154  ...                                  Nagpur  890000
8     AC4518  4144  ...                           Itwari Nagpur  670000
9     AC4519  6127  ...                       Gandhibagh Nagpur   20000

[10 rows x 10 columns]

In [ ]:
def operation():
    ch = int(input("\033[1m transaction:" + "\033[1m"))
    if ch == 1:
        print("\n" + "\033[0;30mx"*127)
        print("\033[1m Balance: "+"\033[1m", df.iloc[p1]["Balance"])
        deposit = int(input("Enter your amount to be deposited :"))
        if deposit > 0 :
            print("your amount has been successfully deposited to your account")
            print("\033[1m Balance: "+"\033[1m", df.iloc[p1]["Balance"])
            amount = int(df.iloc[p1]["Balance"]) + deposit
            print("your current balance:", amount)
            pd.DataFrame(data = sample_data)
            print("\033[1m Thanks for using CACHE BANK" +"\033[1m")
        else:
            print("\033[1m INVALID amount to proceed....operation unsuccessful" +"\033[1m")
        print("\n"+"\033[0;30mx"*127)
        
    if ch == 2:
        print("\n" + "\033[0;30mx"*127)
        print("\033[1m Balance: "+"\033[1m", df.iloc[p1]["Balance"])
        amount = int(input("Enter your amount to  proceed :"))
        if amount <= int(df.iloc[p1]["Balance"]):
            print("collect your cash!")
            df.loc[p1,"Balance"] = int(df.loc[p1,"Balance"]) - amount
            pd.DataFrame(data = sample_data)
            print("your current balance is:")
            print("Balance: ", df.iloc[p1]["Balance"])
            print("\033[1m Thanks for using CACHE BANK" +"\033[1m")
        else:
            print("\033[1m NO sufficient balance....operation Failed" +"\033[1m")
        print("\n"+"\033[0;30mx"*127)
        
    if ch == 3:
        print("\n" + "\033[0;30mx"*127)
        change_pin = input("\033[1m Enter new PIN:" +"\033[1m")
        length = len(change_pin)
        if length == 4:
            print("\033[1m your PIN has been successfully changed..!" +"\033[1m")
            print("New PIN: " + change_pin)
            df.loc[p1,"pin"] = change_pin
            pd.DataFrame(data = sample_data)       
            print("\033[1m Thanks for using CACHE BANK" +"\033[1m")
        else:      
            print("\033[1m Invalid PIN to proceed....operation Failed" +"\033[1m")
        print("\n"+"\033[0;30mx"*127)
                   
    if ch == 4:
        print("\n" + "\033[0;30mx"*127)
        print("\033[1m Date and Time:" +"\033[1m" + now.strftime("%d - %m - %y  %H:%M:%S"))
        print("\n" + "\033[0;30mx"*127)
        print("\033[1m please collect your mini statement" +"\033[1m")
        print(df.iloc[p1])
        print("\033[1m Thanks for using CACHE BANK" +"\033[1m")
        print("\n"+"\033[0;30mx"*127)
    
    if ch == 5:
        print("\n" + "\033[0;30mx"*127)
        quit1 = input("\033[1m press Q to quit...!"+"\033[1m  ")
        if quit1 == "Q":
            print("Quit")
        else:
            print("\033[1m choose any transaction please:"+"\033[1m  ")
        print("\n" + "\033[0;30mx"*127)
        operation()

In [ ]:
print("\n" + "\033[0;30mx"*127)
print("\033[1m \033[34m \033[4m \t\t\t\t\t\t\t CACHE BANK" + "\033[1m \033[34m \033[4m")
print("\n" + "\033[0;30mx"*127)
print("choose your option:")
print("1. Credit denomination")
print("2. Debit denomination")
print("3. Change your PIN:")
print("4. Mini statement")
print("5. Quit")
operation()

xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
   							 CACHE BANK

xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
choose your option:
1. Credit denomination
2. Debit denomination
3. Change your PIN:
4. Mini statement
5. Quit
 transaction:4

xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
 Date and Time:08 - 05 - 21  14:07:58

xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
 please collect your mini statement
Account_no                     AC4513
Pin                              5112
Name                    Amita Nikhare
Branch_name                    Itwari
Branch_no                           2
Phone_no                   7855219813
Email_id       amitanikhare@gmail.com
Age                                19
Address                 Itwari Nagpur
Balance                         50000
Name: 3, dtype: object
 Thanks for using CACHE BANK

xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx